extends layout

block resources
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/jquery-1.10.2.js")
    script(src="//code.jquery.com/ui/1.11.3/jquery-ui.js")

block content
    h1= title
    img(src="/images/arrow_keys.jpg")
    p Keyboards only! Arrows to move, Space to stop
    script(src="/javascripts/controls.js")
